@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 217.2 32.6% 17.5%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}
